@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    box-sizing: border-box;

    font-family: 'Open Sans', sans-serif;
}

 
body {
    color: #FFFF;
    font-weight: 500;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    background-color: rgb(64, 78, 237);
}


main {
    width: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


main h1 {
    font-size: 3rem;
    margin-bottom: 3rem;
}


button {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 2px solid #292841;
    background-color: #ff78b9;
    color: #292841;
    font-size: 16pt;
    font-weight: 600;
    text-align: center;
    margin: 20px;
    cursor: pointer;
}

#counter {
    display: flex;
}

#currentNumber {
    display: flex;
    align-items: center;
    margin: 0 20px;
    font-size: 16pt;
}

section img {
    display: flex;
    position: fixed;
    bottom: 0;
    right: 50px;
    width: 25%;
}

